.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.cab{
    position: relative;
    left: 53px;
    top: 30px;
}

.cab2{
    position: relative;
    left: 250px;
    bottom: 10px;
}


.cab3{
    position: relative;
    left: 150px;
    top: 30px;
}

.cab4{
    position: relative;
    left: 550px;
    bottom: 10px;
}

.cab5{
    position: relative;
    left: 250px;
    top: 30px;
}

.cab6{
    position: relative;
    left: 850px;
    bottom: 10px;
}